{% load static %}	
   <div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href=""><span>Pinaki Group</span></a>
												
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">		
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {{request.user}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
							{% if user.is_authenticated %}
								<li class="dropdown-menu-title">
								    <span>Account Settings</span>
								</li>
								<li>
							        <a href="/logout/"><i class="halflings-icon off"></i> Logout</a>
								    <a href="/password_change/"> Change Password</a>
								</li>
							{% else %}
								<li><a href="{% url 'login'%}">Login</a></li>
								<li><a href="{% url 'register'%}">Register</a></li>
							{% endif %}
							</ul>

						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>